{% load staticfiles %}
<head>
<link rel='stylesheet' type='text/css' href='{% static "bootstrap/normalize.css" %}'/>
<link rel='stylesheet' type='text/css' href='{% static "bootstrap/bootstrap.css" %}'/>
<link rel='stylesheet' type='text/css' href='{% static "polls/style.css" %}'/>
</head>

<body>

<h1>Millercodes Polls</h1>
<h6>Pick a question to see votes, and vote yourself</h6>
{% if latest_question_list %}
	<ul>
	{% for question in latest_question_list %}
		<li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
	{% endfor %}
	</ul>

{% else %}
	<p>No polls are available.</p>
{% endif %}
<h6>Or start a new question!</h6>

<p><strong id="questionError"></strong></p>
<form>
<input type='text' id='newQuestion' placeholder=' New Question' />
<input id="newQuestionSubmit" type='button' value='Submit' />
</form>
<br/>
<hr/>
<a href="/george">Go back to the homepage</a>

<script src='{% static "jquery.js" %}'></script>
<script src='{% static "polls/index.js" %}'></script>
<script>
$.ajaxSetup({
	data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
});
</script>
</body>

