li a{
	color: green;
}
body{
	background: #AAF;
	margin: 0px 40px 0px 40px;
}
input{
	background-color:white;
	border: 2px groove;
	float:left;
}
label{
	margin-left:10px;
	float:left;
}
.inputContainer{
	width:20%;
	float:left;
	min-width:120px;
	margin:5px;
}
.voteMeterParent{
	width:30%;
	float:left;
}
.numOfVotes:after{
	clear:left;
}
.voteMeter{
	margin-left:10px;
	float:left;
	position:relative;
	border: 2px solid;
	top:8px;
}
.radioButton{
	background-color:gray;
	padding-left:10px;
	border-radius:10px;
	float:left;
	width:100%;
}
.radioButton:hover{
	cursor:pointer;
}

.radioButtonLabel{
	float:left;
	margin-top:5px;
}
.voteButton{
	height:25px;
	width:50px;
	background-color:white;
	border:2px groove;
	text-align:center;
}
.voteButton:hover{
	cursor:pointer;
}
