<!DOCTYPE html>
<head>
	<title>George's Server</title>
</head>

<body>
	<img src="/node/img/humanComputer.png" style="float:left;margin-right:20px;width:10%;min-width:200px;" />
	<h1>George Miller's Server</h1>
	<p>A place where I expermient, and have fun learning about the web.</p>
	<h2><a href="http://georgemyersmiller.com/portfolioSite/">Portfolio Site</a></h2>
	Current Projects: 
    <a href="/regex/">Regular Expression Parser</a>
	&nbsp;&nbsp;
    <a href="/is/">Django: Intellectual Sharing</a>
	&nbsp;&nbsp;
    <a href="/phoenix">Phoenix Thought Process</a>
	<br/><br/>
	Previous Projects:
    <a href="/db/">Database Design Website</a>
	&nbsp;&nbsp;
    <a href="/node/">Node.js: ChatApp</a>
	&nbsp;&nbsp;
	<a href="/polls">Django: Polls</a>
	&nbsp;&nbsp;
	<a href="/icarus">Django API: Icarus</a>
    <p>All projects are free and open source! Check them out on my <a href="https://github.com/george-miller" target="blank">github</a> </p>
</body>
