<!DOCTYPE html>
<head>
	<title>George's Server</title>
    <link rel='shortuct icon' href='/george/static/favicon.ico'>
</head>

<body>
	<img src="http://gmmotto.ddns.net/node/img/humanComputer.png" style="float:left;margin-right:20px;width:10%;min-width:200px;" />
	<h1>George Miller's Server</h1>
	<p>A place where I expermient, and have fun learning about the web.</p>
	<br/>
	Current Projects: <a href="/is/">Django: Intellectual Sharing</a>
	&nbsp;&nbsp;
    <a href="https://github.com/george-miller/PhoenixThoughtProcess/">Phoenix Thought Process</a>
	<br/><br/>
	Previous Projects:
    <a href="/node/">Node.js: ChatApp</a>
	&nbsp;&nbsp;
	<a href="/george/polls">Django: Polls</a>
	&nbsp;&nbsp;
	<a href="/george/icarus">Django API: Icarus</a>
    <p>All projects are free and open source! Check them out on my <a href="https://github.com/george-miller" target="blank">github</a> (under PersonalProjects, IntellectualSharing is it's own repo)</p>
</body>
